node-red/flows.json
[{"id":"27fee19.291d51e","type":"mqtt in","z":"b74e461e.e2c25","name":"","topic":"BME","qos":"0","datatype":"utf8","broker":"e3499273.193cf","x":270,"y":580,"wires":[["c21ff382.390fa8"]]},{"id":"c21ff382.390fa8","type":"function","z":"b74e461e.e2c25","name":"str2json","func":"/* Example data format:\n\"{\n  \"humi\": 50.09,\n  \"pres\": 1011.3,\n  \"temp\": 26.35\n}\"\n*/\n\n// One-liner to convert and return a\n// str to a json struct from MQTT payload\nreturn JSON.parse(msg.payload);\n","outputs":1,"noerr":0,"x":420,"y":640,"wires":[["297171f1.de446e","3a1e8981.84dcf6","184bfdf5.40d282"]]},{"id":"297171f1.de446e","type":"function","z":"b74e461e.e2c25","name":"Parse temperature data","func":"msg.payload = msg.temp;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":560,"wires":[["9beb6313.2333","5badee29.524b1","f94c44d2.80b8e8","bb51426c.0a6a9"]]},{"id":"3a1e8981.84dcf6","type":"function","z":"b74e461e.e2c25","name":"Parse humidity data","func":"msg.payload = msg.humi;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":640,"wires":[["9beb6313.2333","a37b695c.3b358","24a32669.d2cd42"]]},{"id":"184bfdf5.40d282","type":"function","z":"b74e461e.e2c25","name":"Parse pressure data","func":"msg.payload = msg.pres;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":720,"wires":[["9beb6313.2333","4a74f61.55b7008","81adfa19.3622e"]]},{"id":"9beb6313.2333","type":"debug","z":"b74e461e.e2c25","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":800,"wires":[]},{"id":"7dd0d5a6.20ce84","type":"comment","z":"b74e461e.e2c25","name":"LNU IoT","info":"","x":270,"y":520,"wires":[]},{"id":"5badee29.524b1","type":"function","z":"b74e461e.e2c25","name":"Validate temperature data","func":"/* Example data format:\n\"{\n  \"temp\": 26.1\n}\"\n*/\n\n// Store the temp in separate variable\nlet temp = msg.payload; \n\n// Turn on/off fan based on current outdoor\n// temperature. If the temperature is >18;\n// turn on the fan, otherwise turn off.\n// Transmitt the MQTT data as a json struct\nif(temp >= 18.0) {\n    msg.payload = \"rsw03_on\";\n}\nelse if(temp <= 18.0){\n    msg.payload = \"rsw03_off\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":460,"wires":[["8b3faeba.757c7","445d2dfb.402cf4"]]},{"id":"8b3faeba.757c7","type":"mqtt out","z":"b74e461e.e2c25","name":"","topic":"AC","qos":"","retain":"","broker":"e3499273.193cf","x":1210,"y":460,"wires":[]},{"id":"314c314b.dab7a6","type":"mqtt in","z":"b74e461e.e2c25","name":"","topic":"AC","qos":"2","datatype":"auto","broker":"e3499273.193cf","x":1210,"y":400,"wires":[["445d2dfb.402cf4"]]},{"id":"445d2dfb.402cf4","type":"debug","z":"b74e461e.e2c25","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1210,"y":340,"wires":[]},{"id":"b4789e19.e6645","type":"inject","z":"b74e461e.e2c25","name":"Simulate temperature data","topic":"","payload":"22","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":520,"wires":[["5badee29.524b1"]]},{"id":"6b513fe4.d42858","type":"amazon-echo-device","z":"b74e461e.e2c25","name":"AC","topic":"","x":670,"y":380,"wires":[["4c7972b3.c6926c"]]},{"id":"c5c17c08.bcf96","type":"amazon-echo-device","z":"b74e461e.e2c25","name":"Switch One","topic":"","x":690,"y":420,"wires":[["4c7972b3.c6926c"]]},{"id":"4c7972b3.c6926c","type":"function","z":"b74e461e.e2c25","name":"parse msg","func":"if(msg.payload === \"on\"){\n    msg.payload = \"rsw_on\";\n}\nelse if(msg.payload === \"off\"){\n    msg.payload = \"rsw_off\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":380,"wires":[["8b3faeba.757c7"]]},{"id":"dc583f10.2a26d8","type":"ui_switch","z":"b74e461e.e2c25","name":"","label":"AC Switch","tooltip":"","group":"b11d0563.98c908","order":2,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"rsw03_on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"rsw03_off","offvalueType":"str","officon":"","offcolor":"","x":980,"y":500,"wires":[["8b3faeba.757c7"]]},{"id":"f94c44d2.80b8e8","type":"ui_gauge","z":"b74e461e.e2c25","name":"","group":"592da7b8.4b4738","order":5,"width":"5","height":"5","gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":"-10","max":"30","colors":["#6fb7ff","#e6e600","#ca3838"],"seg1":"","seg2":"","x":950,"y":560,"wires":[]},{"id":"a37b695c.3b358","type":"ui_gauge","z":"b74e461e.e2c25","name":"","group":"592da7b8.4b4738","order":5,"width":"5","height":"5","gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#6fb7ff","#e6e600","#ca3838"],"seg1":"","seg2":"","x":940,"y":640,"wires":[]},{"id":"4a74f61.55b7008","type":"ui_gauge","z":"b74e461e.e2c25","name":"","group":"592da7b8.4b4738","order":5,"width":"5","height":"5","gtype":"compass","title":"Pressure","label":"hPa","format":"{{value}}","min":"950","max":"1050","colors":["#6fb7ff","#e6e600","#ca3838"],"seg1":"","seg2":"","x":940,"y":720,"wires":[]},{"id":"bb51426c.0a6a9","type":"ui_chart","z":"b74e461e.e2c25","name":"","group":"592da7b8.4b4738","order":3,"width":"5","height":"5","label":"Temperature (over 24h)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":990,"y":600,"wires":[[]]},{"id":"24a32669.d2cd42","type":"ui_chart","z":"b74e461e.e2c25","name":"","group":"592da7b8.4b4738","order":3,"width":"5","height":"5","label":"Humidity (over 24h)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":970,"y":680,"wires":[[]]},{"id":"81adfa19.3622e","type":"ui_chart","z":"b74e461e.e2c25","name":"","group":"592da7b8.4b4738","order":3,"width":"5","height":"5","label":"Pressure (over 24h)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":980,"y":760,"wires":[[]]},{"id":"2eb600b6.dd1878","type":"comment","z":"b74e461e.e2c25","name":"Virtual Devices","info":"","x":300,"y":400,"wires":[]},{"id":"bed83730.fcc218","type":"amazon-echo-hub","z":"b74e461e.e2c25","port":"80","processinput":"0","x":310,"y":440,"wires":[["6b513fe4.d42858","c5c17c08.bcf96"]]},{"id":"e3499273.193cf","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.4","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b11d0563.98c908","type":"ui_group","z":"","name":"Remote Switches","tab":"85d6cff4.6e4478","disp":true,"width":"6","collapse":false},{"id":"592da7b8.4b4738","type":"ui_group","z":"","name":"Climate Data","tab":"85d6cff4.6e4478","disp":true,"width":"15","collapse":false},{"id":"85d6cff4.6e4478","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]